<div class="flex justify-between items-center w-full max-w-7xl mx-auto">
    <img 
    class="w-32 h-auto"
    src="/assets/audi-logo.png" 
    alt="audi photo" />

    <nav class="'flex flex-row space-x-12">
        <a href="/">Agencias</a>
        <a href="/">Agendar</a>
        <a href="/">Repuestos</a>
    </nav>

</div>